.amazing__offer__top {
  margin-top: 10px;
}
.amazing__offer__center {
  width: 100%;
  height: 210px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  & a {
    width: 100px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: BINAZANIN;
    display: inline-block;
    text-decoration: none;
  }

  & img {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .swiper-slide-title {
    width: 120px;
    height: 170px;
    display: inline-block;
    text-decoration: none;
    font-family: BINAZANIN;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f1;
    border-radius: 10px;
    counter-reset: #2b2b2b;
  }
}
