header {
  width: 100%;
  position: sticky;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  font-family: Iran !important;
  box-shadow: 0 0 3px lightgray;
}
header .banner {
  width: 100%;
  height: 60px;
  background-color: red;
}
header .banner img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
header .center {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
}
header .center .logo {
  width: 10%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .center .search {
  width: 70%;
  height: inherit;
  display: flex;
  align-items: center;
}
header .center .search input[type="text"] {
  height: 40px;
  width: 600px;
  background-color: #f0f0f1;
  border-radius: 5px;
  border: unset;
  outline: unset;
  padding-right: 60px;
}
header .center .search input[type="text"]::placeholder {
  font-family: Iran;
  font-size: 12px;
}
header .center .login {
  width: 20%;
  height: inherit;
  padding-left: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
header .center .login a {
  display: flex;
  width: 135px;
  height: 40px;
  background-color: #ffff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: Iran !important;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #e0e0e2;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
header .center .login a svg {
  width: 24px;
  height: 24px;
  color: black;
}
header .center .login .basket {
  all: unset;
}
header .center .login a span .line {
  width: 1px;
  height: 25px;
  display: inline-block;
  background-color: #e0e0e2;
}
header .center .login .basket svg {
  cursor: pointer;
}
.menu {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .menu__right {
    width: 80%;
    .menu__nav {
      width: inherit;
      height: inherit;
      display: flex;
      position: relative;
      flex-flow: row wrap;
      padding-right: 30px;
      column-gap: 25px;
      .menu__item {
        width: fit-content;
        height: inherit;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid red;
        }
        .menu__item__link {
          width: fit-content;
          height: inherit;
          display: block;
          line-height: 50px;
          text-decoration: none;
          font-size: 13px;
          font-family: Iran !important;
          color: #2b2b2b;
          font-weight: 500px;
        }
        .sub__menu {
          width: 70vw;
          height: 0;
          background-color: rgb(236, 234, 234);
          position: absolute;
          transition: 300ms;
          .sub__menu__parent {
            width: 20%;
            height: 100%;
            overflow-y: scroll;
            direction: ltr;
            .sub__menu__child {
              width: 100%;
              height: 50px;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: center;
              background-color: rgb(236, 234, 234);
              & svg {
                width: 24px;
                height: 24px;
                fill: red;
              }
              .sub__menu__child__link {
                display: block;
                width: 100%;
                text-decoration: none;
                font-family: Iran !important;
                text-align: right;
                line-height: 50px;
                font-size: 12px;
                color: #2b2b2b;
                font-weight: 450px;
                transition: 100ms;
                &:hover {
                  background-color: whitesmoke;
                  color: red;
                }
              }
              .sub__sub__menu {
                width: 80%;
                height: 100%;
                overflow: auto;
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                flex-flow: row-reverse wrap;
                background-color: whitesmoke;
                .sub__sub__menu__title {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  background-color: whitesmoke;
                  flex-flow: row wrap;
                  justify-content: flex-end;
                  line-height: 50px;
                  .sub__sub__menu__title__link {
                    display: block;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: bold;
                    color: #19bfd3;
                    font-family: Iran !important;
                    padding-right: 30px;
                  }
                }
                .sub__sub__menu__child {
                  width: 25%;
                  height: 100%;
                  background-color: rgb(236, 234, 234);
                  direction: ltr;
                  text-align: right;
                  & span {
                    display: inline-block;
                    width: fit-content;
                    height: 40px;
                    font-size: 15px;
                    font-family: Iran !important;
                    line-height: 40px;
                    margin-top: 10px;
                    font-weight: 800px;
                    & span {
                      display: inline-block;
                      color: red;
                    }
                  }
                  & a {
                    display: block;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 40px;
                    padding-right: 5px;
                    font-family: Iran !important;
                    color: #2b2b2b;
                    &:hover {
                      color: red;
                    }
                  }
                }
              }
              &:hover .sub__sub__menu {
                display: flex;
              }
            }
          }
        }
        &:hover .sub__menu {
          height: 70vh;
        }
      }
    }
  }
  .menu__left {
    display: flex;
    width: 15%;
    font-family: var(--font-family);
    font-size: 12px;
    padding-left: 10px;
    .cities {
      align-items: center;
      flex-flow: row wrap;
      display: flex;
      column-gap: 5px;
      font-family: Iran !important;
      label[for="show"] {
        cursor: pointer;
      }
      label[for="close"] {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        text-align: center;
        font-size: 40px;
        color: #424750;
      }
      .select__town {
        width: 600px;
        height: 800px;
        background-color: #ffffff;
        display: none;
        position: absolute;
        inset: 0;
        margin: 50px auto;
        overflow: auto;
        overflow-x: hidden;
        direction: ltr;
        .select__state {
          width: inherit;
          height: 80px;
          background-color: #ffffff;
          box-sizing: border-box;
          border-bottom: 2px solid #efeff0;
          font-family: BINAZANIN;
          align-items: center;
          display: flex;
          flex-flow: row-reverse wrap;
          font-size: 30px;
          font-weight: bold;
          padding: 20px;
          color: black;
          opacity: 0.8;
        }
        .town__child {
          width: inherit;
          height: inherit;
          background-color: #ffffff;
          display: flex;
          box-sizing: border-box;
          flex-flow: column wrap;
          .location {
            width: inherit;
            height: 80px;
            border-bottom: 3px solid #efeff0;
            background-color: #ffffff;
            font-family: BINAZANIN;
            align-items: center;
            display: flex;
            box-sizing: border-box;
            flex-flow: row-reverse wrap;
            font-size: 25px;
            font-weight: bold;
            color: #19bfd6;
            opacity: 0.8;
            padding-right: 20px;
            & span {
              display: flex;
              align-items: center;
              column-gap: 20px;
              box-sizing: border-box;
            }
          }
          .town__child__1 {
            width: inherit;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              display: flex;
              flex-flow: row-reverse wrap;
              column-gap: 360px;
              align-items: center;
            }
          }
          .town__child__2 {
            width: inherit;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              display: flex;
              flex-flow: row wrap;
              column-gap: 360px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__3 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 440px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__4 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 430px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__5 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 400px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__6 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 400px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__7 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 430px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
          .town__child__8 {
            width: 600px;
            height: 60px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: 20px;
            font-family: Iran !important;
            padding: 40px;
            font-weight: bold;
            opacity: 0.9;
            border-bottom: 3px solid #efeff0;
            cursor: pointer;
            box-sizing: border-box;
            & span {
              width: 600px;
              display: flex;
              flex-flow: row wrap;
              column-gap: 410px;
              align-items: center;
              flex-flow: row-reverse wrap;
            }
          }
        }
      }
      #show,
      #close {
        display: none;
      }
      #show:checked ~ .select__town {
        display: block;
      }
      #close:checked ~ .select__town {
        display: none;
      }
    }
  }
}

.active {
  display: flex !important;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: lightgray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: darkkhaki;
}
