.internet_shop {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  .online_shopping {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    height: inherit;
    & a {
      align-items: center;
      text-decoration: none;
    }
    & span {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      text-decoration: none;
      font-family: Iran;
      font-weight: bold;
      font-size: 15px;
      opacity: 0.8;
      color: rgb(14, 138, 205);
    }
    & h1 {
      font-size: 20px;
      font-family: Iran;
      margin-top: 10px;
      padding: 10px;
    }
    & h5 {
      font-size: 15px;
      font-family: Iran;
      opacity: 0.6;
      margin-top: 10px;
    }
    & H6 {
      font-family: Iran;
      opacity: 0.3;
      font-size: 15px;
      margin-top: 5px;
      padding: 10px;
    }
  }
  .honors {
    width: 30%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    & a {
      display: flex;
      width: 150px;
      height: 150px;
      border: 1px solid #e0e0e2;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }
    & img {
      display: flex;
      width: 90px;
      height: 90px;
    }
    .national_symbol {
      width: 150px;
      height: 150px;
      border: 1px solid #e0e0e2;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & img {
        display: flex;
        width: 90px;
        height: 90px;
      }
    }
  }
  .national_union {
    width: 150px;
    height: 150px;
    border: 1px solid #e0e0e2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & img {
      display: flex;
      width: 90px;
      height: 90px;
    }
  }
}
