.phone {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ef3a4f;
  position: fixed;
  z-index: 30;
  bottom: 20px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
