.read {
  width: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  column-gap: 30px;
  .read_top {
    width: 80%;
    height: 50px;
    text-align: center;
    & h5 {
      font-size: 20px;
      font-family: Iran;
    }
  }
  .read_child_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .read_child_1 {
      width: 24%;
      border: 1px solid #e0e0e2;
      border-radius: 15px;
      display: flex;
      flex-flow: column wrap;
      & a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & img {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          border-radius: 10px;
        }
      }
      & P {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        font-family: Iran;
        margin-top: 30px;
        font-weight: bold;
        opacity: 0.7;
      }
    }
    .read_child_2 {
      width: 24%;
      border: 1px solid #e0e0e2;
      border-radius: 15px;
      display: flex;
      flex-flow: column wrap;
      & a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & img {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          border-radius: 10px;
        }
      }
      & P {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        font-family: Iran;
        margin-top: 30px;
        font-weight: bold;
        opacity: 0.7;
      }
    }
    .read_child_3 {
      width: 24%;
      border: 1px solid #e0e0e2;
      border-radius: 15px;
      display: flex;
      flex-flow: column wrap;
      & a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & img {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          border-radius: 10px;
        }
      }
      & P {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        font-family: Iran;
        margin-top: 30px;
        font-weight: bold;
        opacity: 0.7;
      }
    }
    .read_child_4 {
      width: 24%;
      border: 1px solid #e0e0e2;
      border-radius: 15px;
      display: flex;
      flex-flow: column wrap;
      & a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & img {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          border-radius: 10px;
        }
      }
      & P {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        font-family: Iran;
        margin-top: 30px;
        font-weight: bold;
        opacity: 0.7;
      }
    }
  }
}
