.suggestion {
  .suggestion_center {
    width: 80%;
    border: 1px solid #e0e0e2;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    & a {
      display: flex;
      flex-flow: column wrap;
      width: 150px;
      height: 150px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      & img {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
      & h5 {
        font-family: Iranyekan;
        color: black;
      }
    }
  }
  & h2 {
    margin-top: 30px;
    text-align: center;
    font-family: Iran;
    font-size: 20px;
  }
}
