.topic {
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  .topicـtop {
    width: inherit;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & P {
      font-size: 20px;
      display: flex;
      flex-flow: row wrap;
      color: black;
      font-family: Iran;
      justify-content: center;
      align-items: center;
    }
  }
}
.topic .topic__child {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  border: 1px solid #e0e0e2;
  border-radius: 15px;
}
.topic__child__top,
.topic__child__center,
.topic__child__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  column-gap: 5px;
}
.topic__child__top img,
.topic__child__center img,
.topic__child__bottom img {
  width: 86px;
  height: 86px;
}
.topic__child__top span,
.topic__child__center span,
.topic__child__bottom span {
  font-size: 20px;
  color: aqua;
  font-weight: bold;
  font-family: Iran;
}
.topic__child__top p,
.topic__child__center p,
.topic__child__bottom p {
  font-family: Iran;
  font-size: 12px;
  font-weight: bold;
}
